.todo-item {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    border-bottom: solid 3px;
    border-radius: 10px;
    background-color: inherit;
}

.todo-item:hover {
    background-color: #1f232c;
    transition: none;
}

.todo-left {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    cursor: pointer;
}

.del-button {
    height: 75px;
    width: 75px;
    border-color: #ff0f0f;
}


.del-button:hover {
    border-color: #fc1c1c;
    background-color: #fc1c1c;
}


.del-button:active {
    border-color: #ff2c2c;
    background-color: #ff2c2c;
}

.completed {
    text-decoration: line-through;
}

.completed .todo-left {
    opacity: 0.5;
}